<div *ngIf="!isMedic()" (load)="navigate('/login')">
  <h2>No acces. please Log in as a Doctor!</h2>
</div>

<div class="all col-sm-6" *ngIf="isMedic()">
  <img class="backimage" src="assets/images/consultation.jpg">
  <legend>
    <h1>
      Dr. {{medic.firstName}} {{medic.lastName}}'s Consultations
    </h1>
  </legend>

  <div class="trainer-info2 col-sm-6" style="text-align:center; margin-left:15px;">
      <div class="trainer-info2 col-sm-2" style="text-align:center; margin-bottom: 25px;">
        <button type="button" class="btn btn-primary" (click)="getConsultations()">All Consultations</button>
      </div>
      <div class="trainer-info2 col-sm-2" style="text-align:center;">
        <button type="button" class="btn btn-primary" (click)="getNextConsultations()">Future Consultations</button>
      </div>
      <div class="trainer-info2 col-sm-2" style="text-align:center;">
        <button type="button" class="btn btn-primary" (click)="getPastConsultations()">Past Consultations</button>
      </div>
    </div>

  <div *ngFor='let consultation of medicsConsultations'>
    <div class="consult-card" (click)="fillConsultation(consultation.id)">
      <!-- <div class="image-container">
          <img *ngIf="trainer.imageBase64" class="trainer-image" [src]="trainer.imageBase64">
          <img *ngIf="!trainer.image" class="trainer-image" [src]="'data:image/jpg;base64,' + trainerImage">
        </div> -->
      <div>
        <div class="trainer-name">
          <span>
            Patient name: {{consultation.patient.firstName}} {{consultation.patient.lastName}}
          </span>
          <br>
          <span>
              Date and time: {{consultation.dateTime.getDate()}}/{{consultation.dateTime.getMonth()+1}}/{{consultation.dateTime.getYear()+1900}} - {{consultation.dateTime.getHours()}}:{{consultation.dateTime.getMinutes()}}0
          </span>
          <br>
          <span>
            Required Service: {{consultation.service.name}} &emsp;
          </span>
          <br>
          <span>
            Price: {{consultation.service.price}} RON
          </span>

        </div>
        <div class="trainer-info">

          <span>
            Phone Number: {{consultation.patient.phoneNumber}}
          </span>
          <br>
          <span>
            E-Mail: {{consultation.patient.email}}
          </span>
          <br>


        </div>
      </div>
    </div>
  </div>
</div>


<div class="col-sm-6" style="float: right">
    <div class="alert" style="position: fixed;" *ngIf="message.length > 0">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <strong>{{message}}!</strong>
      </div>
  <div *ngIf="selectedConsultation!=null && message.length==0" class="consult-card2">

    <div class="container">

      <h3>Consultation - {{selectedConsultation.patient.firstName}} {{selectedConsultation.patient.lastName}} -  {{selectedConsultation.dateTime.getDate()}}/{{selectedConsultation.dateTime.getMonth()+1}}/{{selectedConsultation.dateTime.getYear()+1900}} - {{selectedConsultation.dateTime.getHours()}}:{{selectedConsultation.dateTime.getMinutes()}}0</h3>
      <form>
        <div class="trainer-info2 line">
          <h4>Patient Data</h4>
          <p>Full Name: {{selectedConsultation.patient.firstName}} {{selectedConsultation.patient.lastName}}</p>
          <p>Birth date:  {{selectedConsultation.patient.birthDate.getDate()}}/{{selectedConsultation.patient.birthDate.getMonth()+1}}/{{selectedConsultation.patient.birthDate.getYear()+1900}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            CNP: {{selectedConsultation.patient.cnp}}</p>
          <p>Email: {{selectedConsultation.patient.email}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Phone: {{selectedConsultation.patient.phoneNumber}}</p>
          <p>City: {{selectedConsultation.patient.city}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Adress: {{selectedConsultation.patient.adress}}</p>
        </div>
        <div class="trainer-info2">
          <h4>Consultation Data</h4>

          <p>Service: {{selectedConsultation.service.name}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Price: {{selectedConsultation.service.price}} RON</p>

          <p class="col-sm-2">Symptoms:</p>
          <div class="col-sm-10">
            <input required class="form-control" name="symptoms" placeholder="Symptoms..." [(ngModel)]="selectedConsultation.symptoms">
          </div>

          <p class="col-sm-2 col-form-label">Diagnostic:</p>
          <div class="col-sm-10">
            <select required class="form-control" name="selectedDiagnosticId"  [(ngModel)]="selectedDiagnosticId">
              <!-- <option selected="selected" value=0>Other</option> -->
              <option *ngFor="let diagnostic of allDiagnostics" value="{{diagnostic.idDiagnostic}}">
                {{diagnostic.name}}
              </option>
            </select>




          </div>
          <p class="col-sm-2">Prescription:</p>
          <div class="col-sm-10">
            <textarea required class="form-control" name="prescription" placeholder="Prescription and other details..."  [(ngModel)]="selectedConsultation.prescription"></textarea>
            <p> </p>
          </div>


          <p class="col-sm-3">Sick leave start</p>
          <div class="col-sm-4">
            <input required type="date" class="form-control" name="selectedConsultation.sickLeaveStart"  [(ngModel)]="selectedConsultation.sickLeaveStart"/>
          </div>
          <p class="col-sm-1"> end </p>
          <div class="col-sm-4">
            <input required type="date" class="form-control" name="selectedConsultation.sickLeaveEnd"  [(ngModel)]="selectedConsultation.sickLeaveEnd"/>
          </div>
        </div>

    <div class="trainer-info2" style="text-align:center;">
    <button type="button" class="btn btn-primary" (click)="submitConsultation()">Submit consultation</button>
  </div>



  </form>
</div>

</div>
</div>