/* #content {
    border-bottom: 3px solid #4588ba;
    margin-bottom:10px;
    padding-bottom: 10px;
}

button {
    background-color:#14305e;
    border: none;
    color: white;
    padding: 3px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    width: 255px;
  }
  
  #update{
    background-color: #14305e;
  }
  
  #delete:hover{
    background-color: rgb(238, 51, 51);
    color: white;
  }
  
  #update:hover{
    background-color: #5285d1;
    color: white;
  }
  
  div.userpass{
    position:relative;
    margin-bottom:2.4vw;
    margin-top: 2vw;
  }
  
  div.box{
    font-weight: 500;
    text-align:center;
    font-family: verdana,arial,sans-serif;
    padding: 1px 1px 5px 5px;
    width: 90%;
    max-width: 320px;
    background-color:white;
    opacity: 0.6;
    position: relative;
    padding-bottom: 1px;
    box-shadow: 0px 1px 5px white(185, 185, 185, 0.95);
    font-size:15px;
    margin: 0 auto;
  }
  
  
  .help-block {
    width:200px;
    color:white;
    background-color:gray;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  
  .btnsubmit{
    border-radius: 4px;
    background-color: #14305e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    padding: 20px;
    width: 110px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    left: 37%;
    position: relative;
  }
  
  #delete:hover{
    background-color: rgb(238, 51, 51);
    color: white;
  }
  
  #update:hover{
    background-color: #5285d1;
    color: white;
  }
  
  #img{
    max-width: 200px;
    max-height: 150px;
    align-content: left;
  }
  
  #createbtn{
    background-color: #14305e;
  }
  .alert {
    padding: 20px;
    background-color: #14305e;
  color: white;
  text-align: center;
  position: fixed;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  }
  
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .inputLogin 				{
    size: 12px;
    font-size:15px;
    padding:10px 10px 5px 5px;
    display:block;
    width:200px;
    border:none;
    border-bottom:1px solid #757575;
  }
  
  .inputLogin:focus 		{ outline:none; }
  
  .labelLogin 				 {
    color:black;
    font-size:15px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:10px;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
    width: 200px;
  }
  
  .inputLogin:focus ~ .labelLogin, .inputLogin:valid ~ .labelLogin 		{
    top:-20px;
    font-size:13px;
    color:#999F;
  }
  
  .bar 	{ position:relative; display:block; width:200px; }
  .bar:before, .bar:after 	{
    content:'';
    height:2px;
    width:0;
    bottom:1px;
    position:absolute;
    background:#5264AE;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
  }
  .bar:before {
    left:50%;
  }
  .bar:after {
    right:50%;
  }
  
  .inputLogin:focus ~ .bar:before, .inputLogin:focus ~ .bar:after {
    width:50%;
  }
  
  .highlight {
    position:absolute;
    height:60%;
    width:100px;
    top:25%;
    left:0;
    pointer-events:none;
    opacity:0.5;
  }
  
  .inputLogin:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
  }
  
  @-webkit-keyframes inputHighlighter {
    from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
  }
  @-moz-keyframes inputHighlighter {
    from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
  }
  @keyframes inputHighlighter {
    from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
  }
  
  #btndiv {
    padding-top: 15px;
  }
  
  #wname {
    width:100%;
  }
  
  #description {
    width: 100%;
  }
  
  select{
      font-size: 25px;
  }
  
  option{
      font-size: 20px;
  }
  
  label{
    display:inline-block;
    width:100px;
    font-size: 15px;
    font-weight: normal;
    color: black;
  }
  
  .room-table {
    width: 800px;
  }
  





  .trainer-card {
    border: 0.5px solid rgb(192, 192, 192);
    height: 200px;
    width: 800px;
    margin: 30px 30px 30px 30px;
    color: black;
    border-radius: 10px;
    display: flex;
  }
  
  .trainer-image {
    height: 150px;
    overflow: hidden;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 10px;
    border-radius: 10px;
  }
  
  .image-container {
    width: 200px;
    overflow: hidden;
  }
  
  .trainer-name {
    font-size: 30px;
    margin-top: 15px;
    margin-left: 10px;
  }
  
  .trainer-info {
    border-radius: 10px;
    margin-left: 10px;
    height: 120px;
    width: 575px;
    font-size: 16px;
  }
  
  .trainer-rating {
    position: relative;
    bottom: -36px;
    left: 10px;
  }
  

  .backimage{
    max-width: 100vw;
    width: 100vw;
    z-index: -100;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.3;
  }
  
  .card-client{
    border:0;
    background-color: rgba(255, 255, 255, 0.800);
  }
  
 */





  .all {
    margin-top:-50px;
    margin-left: 100px;
  }
  
  .consult-card {
    cursor: pointer;
    border: 0.5px solid rgb(192, 192, 192);
    height: auto;
    width: 600px;
    margin: 30px 30px 30px 30px;
    color: black;
    border-radius: 5px;
    display: flex;
    border:0;
    background-color: rgba(255, 255, 255, 0.800);
  }
  
    .consult-card2 {
   
      position: fixed;
      border: 0.5px solid rgb(192, 192, 192);
      height: 590px;
      width: 630px;
      margin: 30px 30px 30px 30px;
      color: black;
      border-radius: 5px;
      display: flex;
      border:0;
      background-color: rgba(255, 255, 255, 0.800);
    }
    
    .trainer-image {
      height: 150px;
      overflow: hidden;
      margin-top: 25px;
      margin-bottom: 25px;
      margin-left: 10px;
      border-radius: 10px;
    }
    
    .image-container {
      width: 200px;
      overflow: hidden;
    }
    
    .trainer-name {
      font-size: 20px;
      margin-top: 15px;
      margin-left: 10px;
    }
    
    .trainer-info {
      border-radius: 5px;
      margin-left: 10px;
      height: 120px;
      width: 575px;
      font-size: 16px;
    }
  
    .trainer-info2 {
      height: auto;
      width: auto;
      font-size: 16px;
    }
    
    .trainer-rating {
      position: relative;
      bottom: -36px;
      left: 10px;
    }
    
    .backimage{
      max-width: 100vw;
      width: 100vw;
      z-index: -100;
      position: fixed;
      top: 0;
      left: 0;
      opacity: 0.5;
    }
    
    h3 {
      text-align: center;
    }
    h4 {
      text-align: center;
    }
  
    .line {
      border-bottom: 1px solid rgb(57, 126, 216);
      width: 600px;
      position: relative;
      box-sizing: border-box;
    }
  
    textarea {
  
    padding-top:10px;
    padding-bottom:15px;
    width:100%; 
    display:block;
  }
  
  .btn {
    margin-top: 2em;
    height: 3em;
    width: 12em;
  }
  
  .alert {
    padding: 20px;
    background-color: #14305e;
    color: white;
    text-align: center;
  }
  
  .closebtn {
    margin-left: 15px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  