<!DOCTYPE html>
<html lang="en">
<head>
  <title>medics</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>



    <div class="all col-sm-6" >
        <img class="backimage" src="assets/images/info.jpg">
        <legend>
          <h1 style="text-align: center;">
            Our Medics
          </h1>
        </legend>
        <legend>
            <h3 id="title"style="text-align: center;">
              All Medics
            </h3>
          </legend>
        
        <div class="trainer-info2" style="text-align:center; margin-left:31px;" *ngFor='let department of allDepartments'>
        

        <div class="trainer-info2 col-sm-2" style="text-align:center; margin-bottom: 25px;">
          <button type="button" class="btn btn-primary" (click)="getMedics(department.idDepartment)">{{department.name}}</button>
        </div>
      </div>

        <div *ngFor='let medic of allMedics'>
          <div class="consult-card" (click)="fillConsultation(consultation.id)">
            <div>
              <div class="trainer-name">
                <span>
                  <h3> Dr. {{medic?.firstName}}  {{medic?.lastName}}</h3>
                </span>
                
                <span>
                    Department: {{medic?.department?.name}}
                </span>
                <br>
      
              </div>
              <div class="trainer-info">

                  <span>
                      Specialization: {{medic?.specialization}} &emsp;
                  </span>
                  <br>
                <span>
                    Description: {{medic?.description}}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
