<!-- <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.9.3/css/bootstrap-select.min.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.9.3/js/bootstrap-select.min.js"></script> -->




<img class="backimage" src="assets/images/consult3.png">
<h2 class="header">Make an Appointment</h2>

<div class="box">
  <div class="section" col-sm-5>
    <div style=" margin: 0 auto;">
      <div class="alert" *ngIf="message.length > 0">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <strong>{{message}}!</strong>
      </div>

      <div class="form-group">
        <div class="userpass">
          <select class="inputLogin" required name="selectedDepartment"  (change)="uploadDepartment($event)" [(ngModel)]="selectedDepartment.idDepartment">
            <option disabled selected value></option>
            <!-- <option>Any</option> -->
            <option *ngFor="let department of allDepartments" value="{{department?.idDepartment}}">
              {{department.name}}
            </option>
          </select>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label class="labelLogin"> Select Department </label>
        </div>
      </div>

      <div class="form-group">
        <div class="userpass">
          <select class="inputLogin" required name="newConsultation.service" [(ngModel)]="newConsultation.service.idService">
            <option disabled selected value></option>
            <!-- <option>Any</option> -->
            <option *ngFor="let service of allServicesByDepartment" value="{{service?.idService}}"> {{service?.name}}
            </option>
          </select>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label class="labelLogin"> Select a Service </label>
        </div>
      </div>

      <div class="form-group">
        <div class="userpass">
          <select class="inputLogin" required (change)="getHoursByDateAndMedic($event)" name="newConsultation.medic" [(ngModel)]="newConsultation.medic.idUser">
            <option disabled selected value></option>
            <option *ngFor="let medic of allMedicsByDepartment" value="{{medic?.idUser}}">
              Dr. {{medic?.firstName}} {{medic?.lastName}}
            </option>
          </select>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label class="labelLogin"> Select a Doctor </label>
        </div>
      </div>

      <div class="form-group">
        <div class="userpass">
          <br>
          <input class="inputLogin" type="date" required (change)="getHoursByDateAndMedic($event)"  name="newConsultation.dateTime" [(ngModel)]="newConsultation.dateTime">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label class="labelLogin"> Select a date </label>
        </div>
      </div>

      <div class="form-group">
        <div class="userpass">
          <br>
          <select class="inputLogin"  required name="selectedHour" [(ngModel)]="selectedHour">
            <option disabled selected value></option>
            <option *ngFor="let hour of allHours" value="{{hour?.hour}}" disabled="{{hour?.available}}">
               {{hour.hour}}:00  -  {{hour.hour+1}}:00
              </option>
          </select>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label class="labelLogin"> Select the time </label>
        </div>
      </div>

      <div class="form-group">
        <div class="userpass">
          <input class="inputLogin" >
          <span class="highlight"></span>
          <span class="bar"></span>
          <label class="labelLogin"> Add comment(optional) </label>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="btndiv">
  <button type="button" class="button" (click)="addConsultation()">
    <span> Make Appointment </span>
  </button>

</div>