.user-pane {
    background-color: rgba(255, 255, 255, 1);
    height: 50px;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    display: inline-flex;
    color: black;
  }
  
  .home-button {
    font-size: 35px;
    color: white;
    margin-left: 4px;
    margin-top: 8px;
    cursor: pointer;
   
  }
  
  .pressed {
    background-color: rgba(165, 165, 165, 0.301) !important;
  }
  
  .button-entry {
    margin-left: 20px;
  }
  
  .nav-btn {
    height: 50px;
    background-color: rgba(255, 255, 255, 0);;
    border-width: 0.05px;
    padding-bottom: 0px;
    padding-top: 0px;
    color: black;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    font-size: 17px;
    font-weight: 400;
    border-radius: 0px;
    width: 100%;
  }
  
  .nav-btn:focus, .nav-btn:active, .nav-btn.active, .nav-btn:focus:active {
    background-image: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  
  .nav-btn:hover {
    background-color: rgba(165, 165, 165, 0.301);
  }
  
  .nav-btn:target {
    background-color: rgba(119, 119, 119, 0.247);
  }
  
  .nav-btn:focus {
    outline: 0;
    background-color: rgba(119, 119, 119, 0.247);
  }
  
  .button-div {
    position: relative;
    top: 0;
    background-color: transparent;
    width: 20%;
  }
  
  .logout-button-div {
    position: absolute;
    right: 10px;
  }
  
  .login-button {
    width: 20%;
  }
  