<div class="user-pane">
  <!-- <span class="glyphicon glyphicon-home home-button" (click)="navigate({link: 'home'})"></span> -->
  <div class="button-div" *ngIf="isMedic()">
      <input type="button" class="btn btn-primary nav-btn" value="Consultations" [class.pressed]="this.router.url==='/consultations'" (click)="navigate({link:'consultations'})">      
  </div>

  <div class="button-div" *ngFor="let button of buttons">
    <input type="button" class="btn btn-primary nav-btn" value="{{button.label}}" [class.pressed]="this.router.url==='/'+button.link" (click)="navigate(button)">
  </div>

  <div class="button-div" *ngIf="notLoggedIn() || isPatient()">
        <input type="button" class="btn btn-primary nav-btn" value="New Appointment" [class.pressed]="this.router.url==='/newconsultation'" (click)="navigate({link:'newconsultation'})">      
    </div>

  <div class="button-div" *ngIf="isPatient()">
      <input type="button" class="btn btn-primary nav-btn" value="Your Consultations" [class.pressed]="this.router.url==='/userconsultations'" (click)="navigate({link:'userconsultations'})">      
  </div>

  <div class="button-div" *ngIf="isAdmin()">
      <input type="button" class="btn btn-primary nav-btn" value="Statistics" [class.pressed]="this.router.url==='/generalstatistics'" (click)="navigate({link:'generalstatistics'})">      
  </div>

  
  <input *ngIf="notLoggedIn() && this.router.url !== '/login' && this.router.url !== '/login?logout=success'" type="button" class="btn btn-primary nav-btn login-button" value="Login" (click)="navigate({link:'login'})">
</div>
