<img class="backimage" src="assets/images/login.jpg">
<h2 class="header">Register New Patient</h2>

<div class="box"> 
  <div class="section" col-sm-5>  
  <div style=" margin: 0 auto;">
    <div class="alert" *ngIf="message.length > 0">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      <strong>{{message}}!</strong>
    </div>
    <div class="form-group">
      <div class="userpass">
        <input class="inputLogin" type="text" required name="firstName" [(ngModel)]="createdUser.firstName">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label class="labelLogin"> First Name </label>
      </div>
    </div>
    <div class="form-group">
      <div class="userpass">
        <input class="inputLogin" type="text" required name="firstName" [(ngModel)]="createdUser.lastName">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label class="labelLogin"> Last Name </label>
      </div>
    </div>
    <div class="form-group">
      <div class="userpass">
        <br>
        <input class="inputLogin" type="date" required name="birthDate" [(ngModel)]="createdUser.birthDate">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label class="labelLogin">Birth Date</label>
      </div>
    </div>
    <div class="form-group">
      <div class="userpass">
        <input class="inputLogin" type="number" required name="cnp" [(ngModel)]="createdUser.cnp">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label class="labelLogin"> CNP (Password)</label>
      </div>
    </div>
    <div class="form-group">
      <div class="userpass">
        <input class="inputLogin" type="text" required name="email" [(ngModel)]="createdUser.email">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label class="labelLogin"> Email Adress </label>
      </div>
    </div>
    <div class="form-group">
      <div class="userpass">
        <input class="inputLogin" type="number" required name="phoneNumber" [(ngModel)]="createdUser.phoneNumber">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label class="labelLogin"> Phone number </label>
      </div>
    </div>
    <div class="form-group">
      <div class="userpass">
        <input class="inputLogin" type="text" required name="adress" [(ngModel)]="createdUser.adress">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label class="labelLogin"> Pacient Adress </label>
      </div>
    </div>
    <div class="form-group">
      <div class="userpass">
        <input class="inputLogin" type="text" required name="city" [(ngModel)]="createdUser.city">
        <span class="highlight"></span>
        <span class="bar"></span>
        <label class="labelLogin"> Home City </label>
      </div>
    </div>
  </div>
  </div>
</div>
<div id="btndiv">
  <button type="button" class="button" (click)="addUser()">
    <span>Submit </span>
  </button>

</div>