.centered {
  margin-left:10%
}
.submit{
  float:right;
}

.alert {
  padding: 20px;
  background-color: #14305e;
  color: white;
  text-align: center;
}

.help-block {
  width:200px;
  color:white;
  background-color:gray;
}

/* div.form-group {
  width: 370px;
} */

div.userpass{
  position:relative;
  margin-bottom:1.9vw;
  width: auto;
}

.inputLogin 				{
  size: 12px;
  font-size:15px;
  padding:10px 0px 5px 0px;
  display:block;
  width: 100%;
  border:none;
  border-bottom:1px solid #757575;
}

.inputLogin:focus 		{ outline:none; }

.labelLogin 				 {
  color:black;
  font-size:15px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
  width: 200px;
}

.inputLogin:focus ~ .labelLogin, .inputLogin:valid ~ .labelLogin 		{
  top:-20px;
  font-size:13px;
  color:#999F;
}

.bar 	{ position:relative; display:block; width:370px; }
.bar:before, .bar:after 	{
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  background:#5264AE;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%;
}

.inputLogin:focus ~ .bar:before, .inputLogin:focus ~ .bar:after {
  width:50%;
}

.highlight {
  position:absolute;
  height:60%;
  width:100px;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}

.inputLogin:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

@-webkit-keyframes inputHighlighter {
  from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
  from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
  from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}

div.box{
  font-weight: 500;
  border-radius: 5px;
  border: 1px solid dimgray;
  border-color: dimgrey;
  text-align:center;
  font-family: verdana,arial,sans-serif;
  /* border-radius: 7px 7px 12px 12px; */
  padding: 1px 1px 5px 5px;
  width: 90%;
  max-width: 420px;
  background-color:white;
  opacity: 0.8;
  position: relative;
  padding-bottom: 1px;
  box-shadow: 0px 1px 5px white(185, 185, 185, 0.95);
  /* color: white; */
  font-size:15px;
  margin: 0 auto;
  padding-top: 35px;
}


.closebtn {
  margin-left: 15px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

label{
    display:inline-block;
  width:100px;
  font-size: 15px;
  font-weight: normal;
  color: black;
}

.button {
  border-radius: 4px;
  background-color: #14305e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 20px;
  width: 210px;
  height: auto;
  transition: all 0.5s;
  cursor: pointer;
  display: table;
  margin: 0 auto;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

#btndiv {
  padding-top: 15px;
}


.backimage{
max-width: 100vw;
width: 100vw;
z-index: -100;
position: fixed;
top: 0;
left: 0;
opacity: 0.5;
}

h2.header {
text-align: center;
margin-top: -30px;

}