.page{
  height: 100vh;
}
.page-container{
  width: 100vw;
}

.user-page {
  margin-top: 50px;
}

.nav-pane {
position: absolute;
}

.custom-text{
  font-family: 'Quicksand', sans-serif !important;
}

.login-btn {
margin-left: 20px;
height: 50px;
background-color: #14305e;
border-width: 0.05px;
padding-bottom: 0px;
padding-top: 0px;
color: white;
border-bottom: 0px;
border-left: 0px;
border-right: 0px;
border-top: 0px;
font-size: 17px;
font-weight: 400;
width: 150px;
border-radius: 0px;
z-index: 1000;
position: absolute;
right: 20px;
}

.login-btn:hover {
background-color: #0f213f;
}

.login-btn:focus {
outline: 0;
}

button {
background-color: #0f213f !important;
}

.nav-btn {
margin-left: 20px;
height: 50px;
background-color: rgba(255, 255, 255, 0);;
border-width: 0.05px;
padding-bottom: 0px;
padding-top: 0px;
color: black;
border-bottom: 0px;
border-left: 0px;
border-right: 0px;
border-top: 0px;
font-size: 17px;
font-weight: 400;
width: 250px;
border-radius: 0px;
background-color: rgba(255, 255, 255, 0.753);
position: absolute;
right: 20px;
z-index: 1000;
}

.nav-btn:hover {
background-color: rgba(165, 165, 165, 0.301);
}

.nav-btn:target {
background-color: rgba(119, 119, 119, 0.247);
}

.nav-btn:focus {
outline: 0;
background-color: rgba(119, 119, 119, 0.247);
}




/* AppComponent's private CSS styles */
h1 {
    font-size: 2em;
    color: #999;
    margin-bottom: 0;
  }
  h2 {
    font-size: 4em;
    margin-top: 0;
    padding-top: 0;
  }
  nav a {
    padding: 10px 15px;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 10px;
    display: inline-block;
    background-color: #eee;
    border-radius: 4px;
    
  }
  nav a:visited, a:link {
    color: #607D8B;
  }
  nav a:hover {
    color: #039be5;
    background-color: #CFD8DC;
  }
  nav a.active {
    color: #039be5;
  }