<!DOCTYPE html>
<html lang="en">
<head>
  <title>medics</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>



    <div class="all col-sm-6" >
        <img class="backimage" src="assets/images/info.jpg">
        <legend>
          <h1 style="text-align: center;">
            Offered Services
          </h1>
        </legend>
        <legend>
            <h3 id='title'style="text-align: center;">
              All Services
            </h3>
          </legend>
        
        <div class="trainer-info2" style="text-align:center; margin-left:31px;" *ngFor='let department of allDepartments'>
        

        <div class="trainer-info2 col-sm-2" style="text-align:center; margin-bottom: 25px;">
          <button type="button" class="btn btn-primary" (click)="getServicesByDepartment(department.idDepartment)">{{department.name}}</button>
        </div>
      </div>

        <div *ngFor='let service of allShortServices'>
          <div class="consult-card" (click)="fillService(service.idService)">
            <div>
              <div class="trainer-name">
                <span>
                  <h3> {{service.name}}</h3>
                </span>
                
                <span>
                    Price: {{service.price}} RON
                </span>
                <br>
                <span>
                    Department: {{service.department.name}} &emsp;
                </span>
              <span>
                  <h5>Description: {{service?.description}}</h5>
              </span>
      
              </div>
 
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-5" style="float: right">

          <div *ngIf="selectedService!=null" class="consult-card2">
        
            <div class="container">
        
              <h3>{{selectedService.name}}</h3>

                <div class="trainer-info2">
                  <h4>Service description: </h4>
                  <p>{{selectedService.description}}</p>
                </div>
                
        
            <div class="trainer-info2" style="text-align:center; padding-bottom:15px;" >
            <button type="button" class="btn btn-primary" (click)="goToAppointment()">Online appointment</button>
        </div>
        
        </div>

      </div>










<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <title>Available Services</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="row">
<div class="col-sm-1"></div>
<div class="col-sm-8"></div>
<div class="col-sm-3">
    <button type="button" routerLink="/newconsultation">Make an appointment</button>
  </div>

<div class="container">
  <h2>Available Services: </h2>
</div>

<div class="container" *ngFor="let service of allServices">
    <div id="content" class="col-sm-7">
    <h3>{{service?.name}}</h3>
    <h4>Price: {{service?.price}}</h4>
    <p>Department: {{service?.department?.name}}</p>   
    <p>Description: {{service?.description}}</p>    
    </div>
</div>


</div>

</body>
</html> -->
