<div style="float:right" *ngIf="isLoggedIn()">
<div style="position: fixed; margin-left: -15%; z-index: 1">
  <span>
    <a>Welcome, </a> <a *ngIf="isMedic()">Dr. </a> <a *ngIf="isAdmin()"> Admin</a><a> {{user}}!</a>
  <a [routerLink]="['login']" [queryParams]="{'logout': 'success'}" style="margin-right:400px"> <b>  Log Out!</b></a>
</span>
</div>
</div>