.alert {
    width:200px;
    margin-top:20px;
    margin-bottom:20px;
  }
  
  .alert.alert-info {
    color:#607D8B;
  }
  
  .success-message{
      color: green;
      font-size:16pt;
    position: fixed;
    top: 45vh;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .alert.alert-error {
    color:red;
    font-size:16pt;
  }
  
  .help-block {
    margin-bottom: 3vw;
    width:200px;
    color:white;
    background-color:gray;
  }
  
  .form-control {
    width: 200px;
    margin-bottom:10px;
  }
  
  .btn {
    margin-top:20px;
  }
  
  
  
  .inputLogin 				{
    font-size:18px;
    padding:10px 10px 10px 5px;
    display:block;
    width:100%;
    border:none;
    border-bottom:1px solid #757575;
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  .inputLogin:focus 		{ outline:none; }
  
  /* input{
      background-color: white;
      display: inline-block;
      margin-right: 10px;
      height: 35px;
      text-align: center;
  } */
  
  button.login-button{
    color: #000045;
    border-color: #000045;
    font-size:15px;
    opacity: 0.6;
  }
  
  button.login-button:hover{
    background-color:#000045;
    border-color: #000045;
  }
  
  div.box{
    font-weight: 500;
    text-align:center;
    font-family: verdana,arial,sans-serif;
    /* border-radius: 7px 7px 12px 12px; */
    padding: 1px 1px 5px 5px;
    width: 90%;
    max-width: 320px;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 0.6;
    position: relative;
    padding-bottom: 1px;
    box-shadow: 0px 1px 5px white(185, 185, 185, 0.95);
    /* color: white; */
    font-size:15px;
    margin: 0 auto;
  }
  div.userpass{
    position:relative;
    margin-bottom:45px;
  }
  
  .multi-select-thing div{
    width: 200px;
  }
  
  .labelLogin 				 {
    color:black;
    font-size:18px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:10px;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
  }
  
  .inputLogin:focus ~ .labelLogin, .inputLogin:valid ~ .labelLogin 		{
    top:-20px;
    font-size:14px;
    color: black;
  }
  
  .bar 	{ position:relative; display:block; width:100%; }
  .bar:before, .bar:after 	{
    content:'';
    height:2px;
    width:0;
    bottom:1px;
    position:absolute;
    background:#5264AE;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
  }
  .bar:before {
    left:50%;
  }
  .bar:after {
    right:50%;
  }
  
  .inputLogin:focus ~ .bar:before, .inputLogin:focus ~ .bar:after {
    width:50%;
  }
  
  .highlight {
    position:absolute;
    height:60%;
    width:100px;
    top:25%;
    left:0;
    pointer-events:none;
    opacity:0.5;
  }
  
  .inputLogin:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
  }
  
  @-webkit-keyframes inputHighlighter {
    from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
  }
  @-moz-keyframes inputHighlighter {
    from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
  }
  @keyframes inputHighlighter {
    from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
  }
  
  .login-btn {
    width: 322px;
    height: 48px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  
 
  
  
  .backimage{
    max-width: 100vw;
    width: 100vw;
    height: 100%;
    z-index: -100;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.7;
  }
  .alert-error{
      margin-bottom: 20px;
  }