

h6 {
    font-size: 2.5em;
    color: #499DF5;
    text-align: center;
    margin-top: -20px;
    margin-bottom: 50px; 
}

li {
  color: #499DF5;
  text-align: center;
  font-size: 1.3em;
}

h3 {
  color: #499DF5;
  text-align: center;
}
h5 {
  color: #499DF5;
  text-align: center;
  font-size: 1.1em;
}
h4 {
  color: #499DF5;
  text-align: center;
}

  nav a {
    padding: 10px 70px;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 10px;
    display: inline-block;
    background-color: #eee;
    border-radius: 4px;
    
  }
  nav a:visited, a:link {
    color: #607D8B;
  }
  nav a:hover {
    color: #039be5;
    background-color: #CFD8DC;
  }
  nav a.active {
    color: #039be5;
  }

  .all {
    margin: 0px 5px 0px 17px;
    overflow: hidden;
    padding-top: 15px;
  }

  .img {
    margin-top: 0em;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100; 
    opacity: 0.8;
  }
      
  .hr { 
    height: 4px;
    border: 1;
    box-shadow: inset 0 3px 3px -1px rgba(11, 99, 184, 0.8);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    /* margin-left: -200px; */
    width: 100%;
    /* margin-right: 200px; */
  }

  body {
    font-family: 'Open Sans', sans-serif;
    }

   .list-group-item {
      opacity: 0.9;
    }
  
    body {
      overflow-y: hidden;
      background-color: transparent;
  }

  #copyright {
    text-align: center;
    position: absolute;
    bottom: 0;
    left:35%;
    font-size: 0.7em;
    
}

h1 {
  font-size: 0.9em;
  margin-top:30px;
  display:flex;
  background:linear-gradient(to left,gray,lightgray,white,yellow,turquoise);
  position: fixed;
  width: 100%;
  bottom: 0;
}
h1:before, h1:after {
  color:white;
  content:'';
  flex:1;
  border-bottom:groove 2px;
  margin:auto 0.25em;
  box-shadow: 0 -1px ;/* ou 0 1px si border-style:ridge */
}
