<head>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
</head>

<div class="all">
<h6>WELCOME TO <b>MEDKEEP</b></h6>

<div class="col-sm-1"></div>

<div class="all coll-sm-10" style="position:relative">
        <img class="img" src="assets/images/medics.jpg">

<div class="col-sm-6">
    <p-galleria  [images]="images" [showCaption]="true" [autoPlay]='true'></p-galleria>
</div>

<div class="col-sm-5 info" style="margin-left: 50px;">
        <div class="card" style="width: 100%; margin-top: -10px;" >
                <img class="card-img-top" src="assets/images/info2.png" alt="Card image cap" style="display: block; margin-left: auto;  margin-right: auto; ">
                <div class="card-body">
                  <h3 class="card-title">MEDKEEP IN <B>NUMBERS</B></h3>
                  <h5 class="card-text">For you to make a better idea, here is <b>MEDKEEP</b> in <b>NUMBERS</b></h5>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item" (load)='animateValue(200)'><a href="/medics" style="color:#499DF5"> number of <b>MEDICS</b>: {{nrMedics}}</a></li>
                  <li href="/medics" class="list-group-item"><a href="/services" style="color:#499DF5"> number of available <b> SERVICES</b>: {{nrServices}}</a></li>
                  <li class="list-group-item"><a href="/treatments" style="color:#499DF5">number of possible <B>TREATMENTS:</B> {{nrTreatments}}</a></li>
                  <li class="list-group-item">number of medical <B>DEPARTMENTS:</B> {{nrDepartments}}</li>
                  <li class="list-group-item">number of <B>CONSULTATIONS: </B>{{nrConsultations}}</li>
                  <li class="list-group-item">number of <B>PATIENTS:</B> {{nrPatients}}</li>
                </ul>
                <!-- <div class="card-body">
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div> -->
              </div>              
</div>

</div>

<!-- <br>
<div class="col-sm-1"></div>
<div class="col-sm-10" >

    hi
    <br>
    <br>
    <br>
</div>

<br>
<hr class="hr">
<br>

<div>
<p-carousel headerText="About us" [value]="imgs">
    <ng-template let-image pTemplate="item" ><img src="{{image}}" width="100%" height="260vh">
        
    </ng-template>
</p-carousel>
</div>
<br>
<br>
<hr class="hr">
<br>
<br> -->

</div>
<h1>Copyright © 2018 @ Medkeep Medical Center. All right reserved. Designed by Salajan Alex</h1>