<!DOCTYPE html>
<html lang="en">
<head>
  <title>medics</title>
</head>
<body>



    <div class="all col-sm-6" >
        <img class="backimage" src="assets/images/info.jpg">
        <legend>
          <h1 style="text-align: center;">
            Available Treatments
          </h1>
        </legend>
        
        <!-- <div class="trainer-info2" style="text-align:center; margin-left:31px;" *ngFor='let department of allDepartments'>
        

        <div class="trainer-info2 col-sm-2" style="text-align:center; margin-bottom: 25px;">
          <button type="button" class="btn btn-primary" (click)="getMedics(department.idDepartment)">{{department.name}}</button>
        </div>
      </div> -->

        <div *ngFor='let treatment of allShortTreatments'>
          <div class="consult-card" (click)="fillTreatment(treatment.idTreatment)">
            <div>
              <div class="trainer-name">
                <span>
                  <h3>{{treatment.name}}</h3>
                </span>
                <span>
                    Price: {{treatment?.price}} RON &emsp;
                </span>
                <br>
              <span>
                  Category: {{treatment?.category}}
              </span>
                <br>
                <span>
                    <h5>Description: {{treatment?.description}}</h5>
                </span>
      
              </div>
              
            </div>
          </div>
        </div>
        </div>

        <div class="col-sm-5" style="float: right">

          <div *ngIf="selectedTreatment!=null" class="consult-card2">
        
            <div class="container">
        
              <h3>{{selectedTreatment.name}}</h3>

                <div class="trainer-info2">
                  <h4>Description: </h4>
                  <p>{{selectedTreatment.description}}</p>
                </div>
                
        
            <div class="trainer-info2" style="text-align:center; padding-bottom:15px;" >
            <button type="button" id="buttonid" class="btn btn-primary" (click)="ChangeButtonName()">Contact us for more info</button>
          </div>
      
        </div>
        
        </div>

      </div>
