
  .all {
    margin-top:-50px;
    margin-left: 100px;
  }
  
  .consult-card {
      cursor: pointer;
      border: 0.5px solid rgb(192, 192, 192);
      height: auto;
      width: 600px;
      margin: 30px 30px 30px 30px;
      color: black;
      border-radius: 5px;
      display: flex;
      border:0;
      background-color: rgba(255, 255, 255, 0.800);
    }
  
    .consult-card2 {
   
      position: fixed;
      border: 0.5px solid rgb(192, 192, 192);
      height: auto;
      width: 500px;
      margin: 30px 30px 30px 30px;
      color: black;
      border-radius: 5px;
      display: flex;
      border:0;
      background-color: rgba(255, 255, 255, 0.800);
    }
    
    .trainer-image {
      height: 150px;
      overflow: hidden;
      margin-top: 25px;
      margin-bottom: 25px;
      margin-left: 10px;
      border-radius: 10px;
    }
    
    .image-container {
      width: 200px;
      overflow: hidden;
    }
    
    .trainer-name {
      font-size: 20px;
      margin-top: 15px;
      margin-left: 10px;
    }
    
    .trainer-info {
      border-radius: 5px;
      margin-left: 10px;
      height: 120px;
      width: 575px;
      font-size: 16px;
    }
  
    .trainer-info2 {
      height: auto;
      width: auto;
      font-size: 16px;
    }
    
    .trainer-rating {
      position: relative;
      bottom: -36px;
      left: 10px;
    }
    
    .backimage{
      max-width: 100vw;
      width: 100vw;
      z-index: -100;
      position: fixed;
      top: 0;
      left: 0;
      opacity: 0.5;
    }
    
    h3 {
      text-align: center;
    }
    h4 {
      text-align: center;
    }
  
    .line {
      border-bottom: 1px solid rgb(57, 126, 216);
      width: 600px;
      position: relative;
      box-sizing: border-box;
    }
  
    textarea {
  
    padding-top:10px;
    padding-bottom:15px;
    width:100%; 
    display:block;
  }
  
  .btn {
    margin-top: 2em;
    height: 3em;
    width: auto;
  }
  
  .alert {
    padding: 20px;
    background-color: #14305e;
    color: white;
    text-align: center;
  }
  
  .closebtn {
    margin-left: 15px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  