<!-- <div align="right">
	<input type="button" class="test" value="Home"
		onclick="window.location.href='http://localhost:4200'" />
</div> -->
<img class="backimage" src="assets/images/contactimage.png">
<div class="left-align">
	<div>
	<div>
		<label>Numere de telefon:</label>
		</div>
		<div> <span>Informatii generale:</span> <span>0712345689</span></div>
		<div> <span>Stomatologie:</span> <span>0712345689</span></div>
		<div> <span>Oftalmologie:</span> <span>0712345689</span></div>
		<div> <span>Medicina generala:</span> <span>0712345689</span></div>

	</div>
	<br>
	<div>
		<label>Adresa:</label><br/> <span>Strada Muresului nr. 45,</span><br />
		<span> Cluj-Napoca,</span><br />
		<span>Cluj</span>
	</div>
	<br>
	<div>
		<label>Program de lucru:</label> <span>08:00 - 20:00 zilnic </span>
	</div>
</div>
<div>
	<agm-map class="map" [latitude]="46.779547" [longitude]="23.629481" [zoom]="17">
	<agm-marker [latitude]="46.779547" [longitude]="23.629481"></agm-marker>
	</agm-map>
</div>



<!-- 
Google maps key
AIzaSyApwlCTzdpCR8h56dLwU4ON_eIWzxoNW5c -->