.map {
    height: 600px;
    width: 1000px;
    float: right;
   }
   .left-align{
     float:left;
     margin-left: 3vw;
     border-radius: 10px;
     background-color: rgba(255, 255, 255, 0.61);
     min-height: 11vw;
     width: 24vw;
     padding-left: 1.5vw;
     padding-top: 0.5vw;
     display: grid;
     position: absolute;
     margin-top: 5%;
     font-size: 1.3em;
   }
  
   .backimage{
    max-width: 100vw;
    width: 100vw;
    z-index: -100;
    position: fixed;
    top: 0;
    left: 0;
  }
  
  span{
    margin-left:6px;
    padding: 8px;
  }
  
